.features-2 {
  background-color: #81b3d2;
  color: white;
  text-align: center;
}

.features-2__title-list {
  font-size: 18px;
  line-height: 26px;
}

.features-2__title-list-number-white {
  font-size: 14px;
  line-height: 21px;
}
