.features-others__list {
  list-style: none;
  align-items: center;
  text-align: center;
}

.features-others_list_item {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.features-others_list_item_number {
  font-size: 14px;
  line-height: 21px;
}
