.features-others__list {
  list-style: none;
  align-items: center;
  text-align: center;
}

.features-others__list-item {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.features-others__list-item-number {
  font-size: 14px;
  line-height: 21px;
}
