.features {
  width: 267px;
  margin: 0 auto;
  margin-top: 31px;
  line-height: 40px;
  text-align: center;
  align-content: center;


  @media (min-width: $tablet-width) {
    width: 520px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding-left: 0;
    margin-top: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 520px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding-bottom: 2px;
    padding-top: 10px;
    background-image: url("../img/bg-intro-triangle-desktop.svg");
    background-repeat: no-repeat;
    padding-left: 14px;
  }
}

.features__title {
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  background-color: white;
  align-items: center;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.features__title-text {
  align-items: center;
  font-size: 14px;
  line-height: 26px;
  margin-top: 30px;

  @media (min-width: $tablet-width) {
    margin-top: 14px;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 39px;
  }
}
