.features-1-title-list {
  padding-left: 27px;
  padding-top: 10px;
  padding-bottom: 21px;
  margin: 0 auto;
  text-align: left;
  width: 208px;

  @media (min-width: $tablet-width) {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-left: 0;
    width: 768px;
    margin: 0 auto;
    padding-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: left;
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 68px;
  }
}

.features-1-title-list__item {
  list-style: none;
  width: 231px;
  margin-top: 25px;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    width: 185px;
    margin-top: 47px;
    padding-top: 83px;
  }

  @media (min-width: $desktop-width) {
    width: 282px;
  }
}

.features-1-title-list__item-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 25px;
  }
}

.features-1-title-list__item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: left;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.features-1-title-list__item:nth-child(1) {
  background-image: url("../../img/icon-house.svg");
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
  width: 208px;

  @media (min-width: $tablet-width) {
    margin-left: 36px;
    width: 188px;
  }

  @media (min-width: $desktop-width) {
    width: 282px;
    margin-left: 58px;
  }
}

.features-1-title-list__item:nth-child(2) {
  background-image: url("../../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-position-y: top;

  @media (min-width: $tablet-width) {
    order: 1;
    background-image: url("../../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    width: 193px;
    margin-left: -30px;
    margin-right: 31px;
  }

  @media (min-width: $desktop-width) {
    width: 218px;
    margin-left: 146px;
  }
}

.features-1-title-list__item:nth-child(3) {
  background-image: url("../../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;

  @media (min-width: $tablet-width) {
    width: 159px;
    margin-left: -27px;
  }

  @media (min-width: $desktop-width) {
    width: 287px;
    margin-left: 117px;
  }
}

.features-1-title-list__item:nth-child(2) br {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
