.features-1 {
  background-color: #81b3d2;
  color: white;
  text-align: center;
}

.features-1__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
}

.features-1__title_text {
  font-size: 14px;
  line-height: 21px;
}
