// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

//

.features {
  width: 268px;
  margin: 0 auto;
  line-height: 40px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 520px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 520px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-self: center;
  }
}

.features__title {
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  background-color: white;
  align-items: center;
  font-weight: bold;
}

.features__title-text {
  align-items: center;
  font-size: 14px;
  line-height: 26px;
}
