.main-nav-list {
  padding: 0;
}

.main-nav-list__item {
  text-decoration: none;
  text-align: center;
  list-style: none;
  color: white;
  font-size: 18px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
}

.main-nav-list__link {
  display: block;
  padding: 0;
  text-decoration: none;
}
