.page-header {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 12px;
  }
}

.page-header__logo {
  display: flex;
  justify-content: center;
  margin-bottom: -47px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 51%;
    right: 50%;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
  }
}
