.photo-list {
  padding-left: 0;
  font-weight: bold;
  margin-left: 10px;
}

.photo-list__unit {
  list-style: none;
  width: 320px;
  margin: 0 auto;
}

.photo-list__photo-name {
  font-size: 14px;
  font-weight: bold;
}

.photo-list__autor-photo {
  font-size: 14px;
  font-weight: 400;
}
