.photo_list {
  padding-left: 0;
  font-weight: bold;
  margin-left: 10px;
}

.photo_list__unit {
  list-style: none;
  width: 320px;
  margin: 0 auto;
}

.photo_list_photo_name {
  font-size: 14px;
  font-weight: bold;
}

.photo_list_autor_photo {
  font-size: 14px;
  font-weight: 400;
}
