.photo-preview {
  font-style: normal;
  align-items: center;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.photo-preview__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

.photo-preview__text {
  font-size: 14px;
  line-height: 24px;
}
