.features-others {
  li {
    list-style: none;
    align-items: center;
    text-align: center;
  }

  h2 {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
  }

  p {
    font-size: 14px;
    line-height: 21px;
  }
}
