.features-1_title_list {
  align-items: center;

  li {
    list-style: none;
  }

  h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
  }
}
