.main-nav {
  background-color: #81b3d2;
  font-weight: bold;
  width: auto;
  line-height: 40px;

  ul {
    padding: 0;
  }

  .main-nav-list__item {
    text-decoration: none;
    text-align: center;
    list-style: none;
    color: white;
    font-size: 18px;
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
  }

  a {
    display: block;
    padding: 0;
    text-decoration: none;
  }

  img {
    display: flex;
    justify-content: center;
  }
}
