.photo_previu {
  font-style: normal;
  align-items: center;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;

  h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
  }

  p {
    font-size: 14px;
    line-height: 24px;
  }
}
