.photo_list {
  padding-left: 0;
  font-weight: bold;
  margin-left: 10px;

  li {
    list-style: none;
    width: 320px;
    margin: 0 auto;

    h3 {
      font-size: 14px;
      font-weight: bold;
    }

    p {
      font-size: 14px;
      font-weight: 400;
    }
  }
}
